<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>block测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7BAFCD71C3BB3DF00C9B371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BAFCF01C3BB3DF00C9B371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BAFCFB1C3BB3DF00C9B371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
